body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    background-size: cover;
    justify-content: center;
    align-items: center;
  }
  #loginbox {
    width: 320px;
    height: 500px;
    background: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    color: black;
    top: 10%;
    left: 35%;
    position: absolute;
  box-sizing: border-box;
  font-weight: bold;
  padding: 70px 30px;
  }
  h1 {
     margin: 0px;
    padding: 0px 0px 20px;
    text-align: center;
    font-size: 25px;
    background: fixed;
  }
  #loginbox p {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 15px;
  }
  #loginbox input {
    width: 80%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 15px;
    color: #fff;
    font-size: 12px;
  }
  #forgot {
    margin: 0px;
    font-size: 12px;
    text-align: right;
  }
  #text {
    margin: 0px;
    text-align: center;
  }
  .sci {
    
    display: flex;
    gap: 5px;
    list-style: none;  
    color: #fff;
    justify-content: center;
    margin-right: 40px;
  }
   
  button {
  
    width: 200px;
    height: 30px;
    font-size: 15px;
    box-shadow: 0px 0px 5px cyan , 0px 0px 25px;
    border-radius: 0.5rem;
    background-image: white;
    display: block;
  }
   
   button:hover {
    box-shadow: 0px 0px 5px cyan , 0px 0px 25px cyan, 0px 0px 50px ;
   }